* , *::before , *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: $main-font;
    background-color: $main-background-color;
}

a , u{
    text-decoration: none;
}

h1 , h2 , h3 , h4 , p{
    margin: 0;
}

ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.background-color{
    position: relative;
    background: #F4F4F4;
    margin: 0 auto;
}

.overflow__section{
    position: relative;
    overflow: hidden;
}

.background__body{
    background: #F4F4F4;
}

.panel-back{
    width: 1000px;
    overflow: hidden;
    margin-left: 30px;
    padding-right: 50px;
    background: #fff;
    border-radius: 30px;
    margin-top: 25px;
    padding-bottom: 15px;
}